appdirs==1.4.4
argcomplete==3.6.3
asgiref==3.10.0
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==41.0.7
defusedxml==0.7.1
dj-database-url==3.1.0
Django==5.2.8
django-tailwind==4.2.0
gunicorn==21.2.0
idna==3.11
importlib_resources==6.5.2
isodate==0.7.2
lxml==4.9.3
packaging==25.0
pillow==12.0.0
platformdirs==4.5.1
psycopg2-binary==2.9.9
pycparser==3.0
python-barcode==0.16.1
python-decouple==3.8
python-dotenv==1.0.0
python-escpos==3.1
pytz==2025.2
PyYAML==6.0.3
qrcode==8.2
requests==2.32.5
requests-file==3.0.1
requests-toolbelt==1.0.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.11.0
zeep==4.3.2
